.slideshow-container{
    height:  100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.img-slideshow{
    height:  100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease;
}

.slideshow-overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    display:flex;
    align-items: center;
   
    p{
        margin-left: 100px;
        padding-left: 20px;
        max-width: 600px;
        color: white;
        font-size: 40px;
        border-left: 8px solid red;
    }
}

.fade-in{
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}