header{
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

    img{
        width: 50px;
        height: 50px;
         font-weight: 600;
    }

    a{
        text-decoration: none;
        color: white;
        margin-left: 32px;
        &:hover{
            color: rgba(255, 255, 255, 0.8);
           
        }
    }
}